@import 'libs/bootstrap-reboot.min';
@import 'libs/fonts';
@import 'libs/slick';
@import 'libs/animate';

* {
    font-family: 'Roboto', sans-serif;
}

.container {
    position: relative;
    max-width: 1140px;
    margin: 0 auto;
}

// main

@import 'blocks/promo';
@import 'blocks/header';
@import 'blocks/buttons';
@import 'blocks/title';
@import 'blocks/reason';
@import 'blocks/work';
@import 'blocks/agent';
@import 'blocks/shipping';
@import 'blocks/managers';
@import 'blocks/schema';
@import 'blocks/feedback';
@import 'blocks/questions';
@import 'blocks/feed-form';
@import 'blocks/map';
@import 'blocks/footer';
@import 'blocks/modal';
@import 'blocks/forms';
@import 'blocks/pageup';
@import 'blocks/media'; 