@import 'libs/bootstrap-reboot.min';
@import 'libs/fonts';

* {
    font-family: 'Roboto', sans-serif;
}

.container {
    position: relative;
    max-width: 1140px;
    margin: 0 auto;
}

@import 'blocks/promo';
@import 'blocks/header';
@import 'blocks/buttons';
@import 'blocks/title';
@import 'blocks/reason';
@import 'blocks/work';
@import 'blocks/agent';
@import 'blocks/shipping';
@import 'blocks/managers';
@import 'blocks/schema';
@import 'blocks/feedback';
@import 'blocks/questions';
@import 'blocks/feed-form';