.button {
    width: 160px;
    height: 45px;
    background-color: #ec644b;
    border: none;
    border-radius: 25px;
    color: #ffffff;
    font-size: 12px;
    font-weight: 300;
    text-transform: uppercase;
    transition: 0.5s all;
    &_main {
        border-radius: 30px;
        margin-top: 39px;
        width: 230px;
        height: 57px;
        font-size: 15px;
        font-weight: 700;
    }
    &_shipping {
        display: block;
        margin: 0 auto;
        margin-top: 25px;
        margin-bottom: 25px;
    }
    &_consultation {
        position: relative;
        width: 180px;
        height: 45px;
        margin-top: 30px;
        left: 50%;
        transform: translateX(-50%);
    }
    &_questions {
        display: block;
        margin: 0 auto;
        margin-top: 17px;
        margin-bottom: 25px;
        width: 180px;
    }
    &:hover {
        box-shadow: 1px 1px 10px #ec644b;
    }
}