.feedback {
    padding: 51px 0 65px 0;
    min-height: 470px;
    &__carousel {
        position: relative;
        width: 600px;
        margin: 0 auto;
        img {
            width: 114px;
            height: 114px;
            margin: 0 auto;
        }
    }
    &__label {
        font-size: 18px;
        font-weight: 700;
        text-align: center;
    }
    &__descr {
        font-size: 14px;
        font-weight: 300;
        text-align: center;
    }
    .slick-prev {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: -66px;
        border: none;
        background-color: #fff;
        img {
            width: 14px;
            height: 46px;
        }
    }
    .slick-next, .slick-next {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: -66px;
        border: none;
        background-color: #fff;
        img {
            width: 14px;
            height: 46px;
        }
    }
    .slick-next {
        right: -66px;
        left: auto;
    }
}