.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    &__menu {
        display: flex;
        align-items: center;
        list-style-type: none;
        margin-bottom: 0;
        padding-left: 0;
    }
    li {
        position: relative;
        border-right: 1px dotted #848a94;
        padding: 0 12px;
        font-size: 15px;
        &:first-child {
            padding-left: 0;
        }
        &:nth-child(6) {
            border-right: none;
            padding-right: 0;
        }
        a {
            text-decoration: none;
            background: linear-gradient(#ec644b, #ec644b) 0% 105% no-repeat;;
            background-size: 0% 1px;
            color: #fff;
            transition: 0.5s all;
            &:hover {
                background-size: 100% 2px;
                color: #ec644b; 
            }
        }
    }
    &__logo {
        img {
            width: 100%;
        }
    }
    &__contacts {
        margin-left: 55px;
        margin-right: 19px;
    }
    &__text {
        color: #ffffff;
        font-size: 14px;
        font-weight: 300;
        text-align: right;
    }
    &__phone {
        color: #ffffff;
        font-size: 19px;
        font-weight: 700;
        &:hover {
            color: #ffffff;
            text-decoration: none;
        }
    }
}

