.managers {
    min-height: 342px;
    padding: 58px 0 76px 0;
    background: url(../img/bg_managers.png)center center/cover no-repeat;
    &__icon {
        margin: 0 auto;
        width: 102px;
        height: 102px;
        border: 1px solid #ffffff;
        border-radius: 100%;
        img {
            padding-top: 21px;
            display: block;
            margin: 0 auto;
        }
    }
}