@media (max-width: 1200px) {
	.button {
		transition: none;
		&:hover {
			box-shadow: 0 0 0 0;
		}
	}
	.header {
		li {
			a {
				text-decoration: none;
				color: #fff;
				&:hover {
					color: #fff;
					background-size: 0;
				}
			}
		}
	}
}

@media (max-width: 992px) {
	.promo {
		&__icon {
			width: 230px;
			margin: 0 10px;
			&_descr {
				margin-top: 10px;
				font-size: 14px;
			}
		}
	}
	.header {
		padding: 0 10px 0 10px;
		li {
			font-size: 12px;
		}
		&__logo {
			img {
				width: 85px;
			}
		}
		&__contacts {
			margin-left: 40px;
			margin-right: 16px;
		}
		&__text {
			font-size: 12px;
		}
		&__phone {
			font-size: 16px;
		}
	}
	.reason {
		&__text {
			width: 395px;
			margin-left: 15px;
		}
		&__subheader {
			font-size: 14px;
		}
		&__descr {
			font-size: 12px;
		}
	}
	.work {
		&__items {
			justify-content: space-between;
		}
		&__item {
			width: 310px;
			img {
				width: 100%;
			}
		}
		&__descr {
			font-size: 12px;
		}
	}
	.subtitle {
		&_white {
			font-size: 18px;
		}
	}
	.schema {
		&__item {
			width: 248px;
		}
		&__descr {
			font-size: 13px;
		}
	}
	.footer {
		&__up {
			padding: 0 10px 26px 10px;
		}
		&__down {
			padding: 0 10px 0 10px;
		}
		&__text {
			font-size: 12px;
		}
		&__phone {
			font-size: 16px;
		}
	}
}

@media (max-width: 768px) {
	.container {
		max-width: 720px;
		margin: 0 auto;
	}
	.promo {
		overflow: hidden;
		padding: 36px 0 62px 0;
		&__descr {
			font-size: 20px;
		}
		&__header{
			font-size: 50px;
		}
		&__subheader {
			font-size: 30px;
		}
		&__line {
			display: none;
		}
		&__icon {
			width: 180px;
			margin: 0;
		}
		img {
			width: 85%;
		}
	}
	.header {
		position: relative;
		&__menu {
			position: fixed;
			top: -100%;
			left: 0;
			width: 40%;
			height: 100%;
			background-color: rgba(0,0,0,0.8);
			flex-direction: column;
			padding: 60px 0 0 0;
			z-index: 3;
			transition: 0.3s all;
			&.active {
				top: 0;
			}
		li {
			border: none;
			padding: 0;
			text-align: left;
			font-size: 15px;
			margin: 10px 0;
		}
	}
		.hamburger {
			width: 100%;
			height: 26px;
			background-color: #383a47;
			position: fixed;
			top: 0;
			left: 0;
			z-index: 1;
			&__wrapper {
				display: block;
				position: absolute;
				width: 30px;
				height: 18px;
				right: 10px;
				top: 3px;
				z-index: 3;
				span {
					position: absolute;
					background-color: #fff;
					left: 0;
					width: 100%;
					height: 2px;
					top: 8px;
					transition: 0.3s all;
				}
				&:before,&:after {
					content: '';
					background-color: #fff;
					position: absolute;
					width: 100%;
					height: 2px;
					left: 0;
					transition: 0.3s all;
				}
				&:before {
					top: 0;
				}
				&:after {
					bottom: 0;
				}
			}
			&__wrapper.active:before {
				transform: rotate(-35deg);
				top: 8px;
				width: 8px;
				transform-origin: left bottom;
			}
			&__wrapper.active:after {
				transform: rotate(35deg);
				bottom: 8px;
				width: 8px;
				transform-origin: left top;
			}
			&__wrapper.active span {
				// transform: scale(0);
				width: 30px;
				height: 2px;
			}
		}
	}
	.work {
		&__descr {
			text-align: center;
		}
		&__subheader {
			font-size: 16px;
		}
	}
	.shipping {
		&__item {
			margin-left: 7px;
			margin-right: 7px;
		}
		&__label {
			font-size: 14px;
		}
		&__descr {
			font-size: 12px;
		}
		&__price {
			font-size: 24px;
		}
		&__text {
			font-size: 12px;
		}
		.feed-form {
			input {
				width: 230px;
			}
		}
	}

	.feedback {
		&__carousel {
			.slick-dots {
				position: absolute;
				width: 100%;
				top: 98%;
				padding: 0;
				text-align: center;
				list-style-type: none;
				li {
					position: relative;
					display: inline-block;
					width: 20px;
					height: 20px;
					margin: 0 5px;
					padding: 0;
					cursor: pointer;
					button {
						font-size: 0;
						background-color: #fff;
						border: none;
						margin: 0 5px;
						&:before {
							content: '•';
							font-size: 40px;
							color: #d0d0d0;
						}
					}
				}    
			}
		}
	}

	.questions {
		.feed-form {
			&_questions {
				input {
					width: 30%;
					&:last-child {
						width: 94%;
					}
				}
			}
		}
		&__wrapper {
			width: 100%;
		}
	}

	.footer {
		&__descr {
			font-size: 10px;
		}
		&__text {
			font-size: 10px;
		}
		&__phone {
			font-size: 12px;
		}
	}
	
	.button {
		&_shipping {
			width: 140px;
		}
	}
}

@media (max-width: 576px) {
	.promo {
		&__descr {
			font-size: 18px;
		}
		&__header {
			font-size: 40px;
		}
		&__subheader {
			font-size: 24px;
		}
		&__icons {
			margin-top: 25px;
		}
		&__icon {
			width: 100%;
			&_descr {
				font-size: 12px;
			}
		}
	}

	.title {
		font-size: 22px;
	}
	.subtitle {
		font-size: 16px;
	}

	.header {
		.hamburger {
			&__wrapper {
				right: 20px;
				transform: translateX(-50%);
			}
		}
	}

	.shipping {
		&__wrapper {
			flex-wrap: wrap;
		}
	}
	.consultation {
		&__block {
			width: 550px;
		}
		.feed-form {
			font-size: 12px;
			input {
				width: 175px;
			}
		}
	}

	.questions {
		&__wrapper {
			width: 97%;
		}
		&__label {
			font-size: 16px;
		}
		&__descr {
			font-size: 12px;
		}
	}

	.footer {
		&__descr {
			margin-left: 23px;
		}
		&__contacts {
			.button {
				display: none;
			}
		}
	}
}