.schema {
    min-height: 454px;
    padding: 51px 0 46px 0;
    background-color: #f3f3f3;
    &__items {
        margin-top: 31px;
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
    }
    &__item {
        display: flex;
        align-items: center;
        flex-direction: column;
        margin-bottom: 35px;
    }
    &__text {
        width: 249px;
        margin-left: 17px;
        line-height: 16px;
        text-align: center;
    }
    &__subheader {
        color: #ec644b;
        font-size: 16px;
        font-weight: 700;
    }
    &__descr {
        padding-top: 12px;
        font-size: 14px;
        font-weight: 300;
    }  
}